/* Set background color of page */
body {background-color: gold;
      font-family: "Sofia", sans-serif;
      color: grey;
}

h1 {
    color: red;
    font-family: "Trirong", serif;
}

/* Text color for paragraphs */
p { 
    color: green;
    font-family: "Arial";
  }

li {
    font-family: cursive;
    font-style: italic;
  }
  /* Text color for hrefs */
a {
    color: blueviolet;
  }

section {
    margin-top: 100px;
  }

  #Experience {
    color: goldenrod;
    font-family: "Arial";
  }

  nav {
    overflow: hidden;
    background-color: #333;
    /* position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }